@import 'tailwindcss';

@layer base {
  ::-moz-selection, ::selection {
    background: green;
    color: white;
  }

  .row {
    @apply flex gap-x-3 w-fit 
  }

  .row > div {
    @apply font-medium text-white text-3xl bg-gray-700 w-[74px] h-[74px] rounded-2xl flex justify-center items-center
  }
}
