@import 'tailwindcss';

@layer base {
  ::-moz-selection, ::selection {
    background: green;
    color: white;
  }

  .row {
    @apply flex gap-6 w-fit 
  }

  .row > div {
    @apply font-medium text-white text-3xl bg-gray-700 border-2 border-black w-[90px] h-[90px] rounded-2xl flex justify-center items-center
  } 

  .btn {
    @apply cursor-pointer hover:brightness-[175%] active:brightness-[75%]
  }
}
